version: "3.9"
services:
  meilisearch:
    image: getmeili/meilisearch:v1.7
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:-dev_master_key_change_me}
      - MEILI_NO_ANALYTICS=true
    ports:
      - "7700:7700"
    volumes:
      - meili_data:/meili_data
volumes:
  meili_data:
